<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>SCG Gateway</title>
    </head>
<body>

    <div class="container">
    	<div class="alert alert-success" role="alert">
	  		Account created successfully! 
		</div>

    </div>

	
</body>
<script type="text/javascript">   
    function Redirect() 
    {  
        window.location="http://localhost:8000/login"; 
    } 
    document.write("You will be redirected to the login page in 5 seconds"); 
    setTimeout('Redirect()', 5000);   
</script>
</html>